<nav-header [drawer]="drawer" [title]="title"></nav-header>
<mat-sidenav-container #sidenav class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [mode]="(isHandset$ | async) ? 'over' : 'side'" (mouseleave)="sidenav.close()">
    <mat-nav-list>
      <a mat-list-item routerLink="" (click)="sidenav.close()"> Homepage </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>